<!DOCTYPE html>
<html>
<head>

  
</head>
<body>

 <div class="containers">
	<div class ="row">

		<div class="nav six columns" id="myNav">
				<a href="/home">Home</a>
	            <a href="/recipes/breakfast">Breakfast</a>
	            <a href="/recipes/dinner">Dinner</a>
	            <a href="/recipes/sides">Sides</a>
	            <a href="/recipes/dessert">Desserts</a>
	 	</div>    

 		<h1 class="nav six columns"> Breakfast Recipes</h1>  

 		<!-- <p id="bar" class="twelve columns"></p>  -->  
	</div>
 </div>
	
	
	<div class="container">
	<div class="row">
	 
	<!-- create a for loop in order to get all the recipes related to breakfast -->
	   	<% @recipes.each do |recipe| %> 	

	     <div class="four columns" style="font-size: 20px">
	     <!-- get the information from the sql db to print on the breakfast page -->
		     <h3><%= recipe.name %> </h3>
			 <img class ="resize" src= '<%= recipe.image_url%>'/>
		   	 <p> <%= recipe.description %> </p>
		   	  <ul>Ingredients:</ul>
		   	 <!--  create another for loop to loop through all the ingredients and then print on page -->
		   	 <h4 class="ingredients"><% recipe.ingredients.each do |ingredient|%> 
		   	 <li> <%= ingredient.name %> </li>
		   	  <%end%></h4>

		    
		    <h4>Instructions</h4>
		    <p> <%= recipe.instructions %> </p>
		  </div>

		  <% end %> 
	

	    
	  </div>
	</div>

</body>
</html>